html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.background {
  background-image: url("../assets/movie-crop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: absolute;
}
.background-tint {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(27, 27, 27, 0.85);
}

#app {
  position: relative;
  height: 100%;
}
